<div class="main-content" id="app">
    <div class="content-wrapper">
        <section id="file-export">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Site Capability</h4>
                            <br>
                            <p>Cайт: {{  site_name }} </p>
                            <p>Шаблон:  {{ template_name }}</p>
                            <p>Дата создания:  {{ created_at }}</p>

                        </div>
                        <div class="card-content ">
                            <div class="card-body card-dashboard ">
                                <sitecapabilitysave
                                        :uid="{{ template_id }}"
                                        :manager_site_capability_id="{{ manager_site_capability_id }}"
                                        :site_id= "{{ site_id }}"
                                        :user_id = "{{ user_id }}"
                                        :admin = "false"
                                >

                                </sitecapabilitysave>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>




<script  src="../../../js/dist/vue.js"></script>
<script  src="../../../js/components/Sitecapability/questionsManager.js"></script>
<script  src="../../../js/components/Sitecapability/ManagerSaveSitecapability.js"></script>
<script  src="../../../js/main.js"></script>
